<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>

    <!-- % tag for js code -->

    <% if (dayType === "Saturday" || dayType === "Sunday") { %>
      <h1 style = "color: purple"> <%= dayType %> ToDo List</h1>
    <% } else { %>
      <h1 style = "color: grey"><%= dayType %> List</h1>
    <% } %>
    <p>And yes you're working...</p>

  </body>
</html>
